@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   .i-am-not-going-to-include {
      /* It will not include in css bundle because I am not using this style */
      @apply text-center text-teal-500;
   }
   .i-will-be-included {
      /* It will include in css bundle because I am using this style */
      @apply flex items-center;
   }
   .button {
      /* problem */
      /* but why this is including, I am not using this class */
      color: blue;
   }
   .md-button {
      /* I am not going to include */
      display: flex;
   }
}
@layer components {
   .me-too {
      /* It will not include in css bundle because I am not using this style */
      @apply text-center text-teal-500;
   }
   .me-too-included {
      /* It will include in css bundle because I am using this style */
      @apply w-10 justify-between;
   }
   .button {
      /* problem */
      /* but why this is including, I am not using this class */
      background: red;
   }
   .md-button {
      /* I am not going to include */
      user-select: none;
   }
}
